<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  This is a sample application that's been done by hundreds of people at
  least, probably thousands. Why would you want to contact us? Who do you
  imagine "us" is? Srsly.
</p>