<div class="center hero-unit">
  <h1>Rails Sample App: The Fapp!</h1>
  
  <h2>
    This is the Ruby on Rails Tutorial sample application that I'm redoing after three years.
    It's changed a bit since the first time, since Ruby and Rails both have had major new versions released--i.e. since three years is an eon in internet time.
  </h2>

  <%= link_to "Sign up, eh?", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>